
body {
  margin: 50px;
  padding: 0;
  border: 0;
  background-color: #5DFF7D;
  color: white;
  font-family: monospace;
}

td {
  height: 30px;
  vertical-align: left;
}

h2, p, h3, ul, td, tr {
 font-family: Sans-serif;
 font-size: 1.2em;
}

h1{
  font-family: sans-serif;
  font-size: 2em;
}

  header {
  border: 4px white;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}

img {
  border-radius: 20%;
  height: 600px;
  width: auto;
  float: right;
  margin: 0px 0px 15px 15px;
  box-shadow: 10px 13px 20px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-style:solid;
  border-radius: 100%
}

li {
  display: inline;
}

li a {
  display: inline;
  color:#5DFF7D;
  padding: 14px 16px;
  text-decoration:solid;
}

li a:hover {
  background-color:#5DFF7D;
}

a:hover {
  color:white;
}

table, th, td {
  border: 1px solid white;
}

footer{
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  border-radius: 100%;
  border-style: solid;
}
.fa:hover {
  background: white;
  color:#5DFF7D;
}
.fa-envelope {
  background: #5DFF7D;
  color: white;
}

.fa-instagram {
  background: #5DFF7D;
  color: white;
}
.fa-github {
  background: #5DFF7D;
  color: white;
}
span{
  font-size: 1.4em;
}